.amazing-supermarket {
    background-color: lightgray;
    height: 100px;
    margin-right: 5px;
    border-radius: 5px;

}

.amazing-supermarket-item img {
    width: 80px;
    border-radius: 50%;
}

.amazing-supermarket .read-more {
    background-color: white;
    width: 150px;
    border-radius: 10px;
    background-color: lightgreen;
}

.amazing-supermarket a {
    text-decoration: none;
    color: black;
}

.amazing img {
    border-radius: 5px;

}