.foot img {
    width: 150px;
}

.send p {
    font-size: 16px;
}

.blue {
    width: 90%;
    height: 90px;
    background-color: rgb(29, 29, 64);
    border-radius: 20px;
}

.footer img {
    width: 100px;

}

.online {
    display: flex;
    justify-content: space-between;
}

.online img {
    width: 100px;

}

.complet img {
    width: 150px;
}
